Repository Terasology/Behaviors, pull requests merged in 2022-03, with the labels that each got.

#99 test: add basic movement tests
  assets/prefabs/test/testcharacter.prefab
  src/test/java/org/terasology/module/behaviors/MovementTests.java
Labels: Type: Improvement, Category: Test/QA, Topic: Stabilization

#100 refactor: invert air and solid block symbols in test world definition
  src/test/java/org/terasology/module/behaviors/MovementTests.java
Labels: Category: Test/QA, Topic: UI/UX, Type: Refactoring

#92 fix: FlexiblePathfinding migration follow-ups
  assets/behaviors/common/doRandomMove.behavior
  assets/behaviors/common/stray.behavior
  assets/behaviors/creatures/critter.behavior
  assets/behaviors/creatures/hostileCritter.behavior
  assets/behaviors/naiveMoveTo.behavior
  assets/prefabs/testCharacter.prefab
  src/main/java/org/terasology/module/behaviors/actions/CheckAttackStopAction.java
  src/main/java/org/terasology/module/behaviors/actions/FindDummyPathTo.java
  src/main/java/org/terasology/module/behaviors/actions/FindPathToNode.java
  src/main/java/org/terasology/module/behaviors/actions/LogAction.java
  src/main/java/org/terasology/module/behaviors/actions/MoveAlongPathNode.java
  src/main/java/org/terasology/module/behaviors/actions/MoveToAction.java
  src/main/java/org/terasology/module/behaviors/actions/SetTargetToNearbyBlockAwayFromInstigatorAction.java
  src/main/java/org/terasology/module/behaviors/actions/SetTargetToNearbyBlockNode.java
  src/main/java/org/terasology/module/behaviors/components/MinionMoveComponent.java
  src/main/java/org/terasology/module/behaviors/debug/FlexibleMovementDebugRenderSystem.java
  src/main/java/org/terasology/module/behaviors/plugin/LeapingMovementPlugin.java
  src/main/java/org/terasology/module/behaviors/plugin/WalkingMovementPlugin.java
  src/main/java/org/terasology/module/behaviors/systems/PluginSystem.java
Labels: Type: Bug, Topic: AI, Topic: Stabilization, Type: Chore
